* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #43168B;
  padding: 0 20px;
}

.form {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.form__input + .form__input {
  margin-top: 30px;
}

.form__submit {
  width: 100%;
  color: #000;
  border: none;
  background-color: #FEA133;
  margin-top: 62px;
  padding: 8px 33px;
  align-self: center;
  cursor: pointer;
}

.input {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.input__label {
  font-size: 15px;
  line-height: 18px;
  padding: 0 4px;
}

.input__field {
  border: 1px solid #fff;
  color: rgba(255, 255, 255, 0.65);
  padding: 8px 11px;
  background: none;
  font-size: 14px;
  line-height: 16px;
  outline: none;
}

.input__label + .input__field {
  margin-top: 20px;
}

@media screen and (min-width: 510px) {
  .form {
    width: 338px;
    padding: 115px 0 71px;
  }

  .app {
    padding: 0;
  }

  .form__submit {
    width: auto;
  }
}